body {
    font-family: sans-serif;
    margin-top:20px;
    background-image:url("/ui/home 4.gif");
  
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

