body {
    font-family: sans-serif;
    
    background-image:url("/ui/home.gif");
    background-size:auto;
    
    background-repeat:no-repeat;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

